{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="doc-history">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <!-- <div class="panel-heading"><p><h4>Hello! Please enter the ticker your would like to track? </h4></p> </div> -->

            <form class="doc-clustering-input" enctype="multipart/form-data">
              <h3>Please enter the ticker your would like to track?</h3>

            <table class="table">
              
            <tr>
                <td>{{ form.ticker.label }}</td>
                <td>{{ form.ticker() }}</td>
            </tr>

            <tr>
                <td><input id="submit" class="btn btn-primary" name="submit" type="submit" value="Monitor!"></td>
            </tr>
        </table>
    </form>
      </div>
    </div>
  </div>
{% endblock %}