{% extends "base.html" %}

{% block content %}
<!-- <meta http-equiv="refresh" content="5" /> -->
<div class="container">

		<title>
			DEMO
		</title>

    <div class="doc-output">
      <h2>A quick view of what we got</h2>
		{{ table|safe }}
    </div>

    <div class="doc-output">
		<p>
			<img style="width: 700px; height: 340px;" src="http://www.finviz.com/fut_chart.ashx?t=YM&amp;cot=138741,13874A&amp;p=m5">
		</p>
    </div>
  </div>
<style type="text/css">
    .dataframe td, .dataframe th {
      min-width: 20px;
      height: 30px;
  }

</style>
{% endblock %}